# Calling libraries

In [1]:
import pandas as pd
import numpy as np
import re

# Functions

In [581]:
# This function takes latitude and longitude from two points and gives distance in miles
# 0.0175 is pi/180 (1 degree in radian)
# 3959 is earth radius in miles

def euclid(y1, x1, y2, x2):
    deltax = (x1 - x2) * 0.0175 * np.cos(y1 * 0.0175) * 3959
    deltay = (y1 - y2) * 0.0175 * 3959
    dist= np.sqrt(deltax**2 + deltay**2)
    return dist

In [659]:
# This function takes a string and process it as follow:
# 1. Takes out all the non-alphanumeric characters
# 2. Converts the spaces -of any length- into underscores
# 3. Lowercase alphabets
# Note: NANs converted into zero-length string to avoid error

def unitext(text_in):
    if pd.isnull(text_in) == False:
        text_in == text_in
    else:
        text_in = ' '
    
    text_01 = re.sub('[^a-zA-Z0-9\s]','',text_in) #Takes out all the non-alphanumeric characters
    text_02 = re.sub('\s+','_',text_01) # Converts the spaces -of any length- into underscores
    text_03 = str.lower(text_02)
    text_04 = re.sub('\_$','',text_03) # Trims ending space characters
    text_05 = re.sub('^\_','',text_04) # Trims begining space characters
    return text_05

In [585]:
# DO NOT DELETE THIS UNTIL THE DATA READING FINALIZED - USE FOR TESTING


#                                           Clark     Memph.    Chatt      Knox
# Memphis     35.076616, -90.082608         168.35.    -         258.96    
# Clarksville 36.521391, -87.385077                              145.88    195.66
# Chattanooga 35.003217, -85.257926                                        94.55
# Knoxville   35.915572, -83.916165

euclid(35.915572, -83.916165, 35.003217, -85.257926)

98.233907077521295

# Reading raw spreadsheets

In [21]:
# CSVs
tab04_df = pd.read_csv('data/table_4.csv', encoding = "utf-8", names=list('abcdefghijklmnopqrst'))
tab05_df = pd.read_csv('data/table_5.csv')
tab12_df = pd.read_csv('data/tabula-12.csv', header=None)
tab13_df = pd.read_csv('data/tabula-13.csv', header=None)
tab071_df = pd.read_csv('data/table_71.csv')
tab072_df = pd.read_csv('data/table_72.csv')

In [459]:
# XLSX
zip_us_df = pd.read_excel('data/zip_code_database.xlsx')
hq_df = pd.read_excel('data/hqs.xlsx', header=None)
sold_df = pd.read_excel('data/18.xlsx')

# tab04_df

Population and Households in counties

In [248]:
# Remove blank rows

#Replace NaNs with 0s
tab04_df.fillna(0, inplace=True)

# open a list for blank rows
blank_rows=[]

# this loop makes a list of blank rows
for i in np.arange(tab04_df.shape[0]):
    if tab04_df.iloc[i,0] == 0:
        blank_rows.append(i)
    else:
        tab04_df.iloc[i,0] = unitext(str(tab04_df.iloc[i,0]))
    
# delete blank rows
tab04_df.drop(blank_rows, inplace=True)

In [276]:
# Split the dataframe on original PDF page break
tab04_df_1 = tab04_df[77:]
tab04_df_2 = tab04_df[:77]

In [278]:
# Renaming columns

new_names=[]
for i in np.arange(tab04_df_1.shape[1]):
    if i < 8:
        snippet = 'Population_'
    else:
        snippet = 'Housing_'
    
    new_names.append(snippet+str(tab04_df_1.iloc[1,i])) 

tab04_df_1.columns=new_names

In [279]:
# Deleting extra columns
bad_cols=[]
for i in np.arange(tab04_df_1.shape[1]):
    if '_0' in tab04_df_1.columns.values[i]:
        bad_cols.append(i)

tab04_df_1b = tab04_df_1.drop(tab04_df_1.columns[bad_cols], axis=1)
tab04_df_1b.columns.values[0] = 'County'

In [280]:
# Deleting extra rows
bad_rows=[]
for i in np.arange(tab04_df_1b.shape[0]):
    if '_county' in tab04_df_1b.iloc[i,0]:
        continue
    else:
        bad_rows.append(i)
tab04_df_1b.drop(tab04_df_1b.index[bad_rows], inplace=True)

/Users/ghfmhf/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [281]:
tab04_df_1b['County'] = tab04_df_1b['County'].str.replace('_county','')

/Users/ghfmhf/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [285]:
# Renaming columns

new_names=[]
for i in np.arange(tab04_df_2.shape[1]):
    if i < 7:
        snippet = 'Population_'
    else:
        snippet = 'Housing_'
    
    new_names.append(snippet+str(tab04_df_2.iloc[1,i])) 

tab04_df_2.columns=new_names

In [286]:
# Deleting extra columns
bad_cols=[]
for i in np.arange(tab04_df_2.shape[1]):
    if '_0' in tab04_df_2.columns.values[i]:
        bad_cols.append(i)

tab04_df_2b = tab04_df_2.drop(tab04_df_2.columns[bad_cols], axis=1)
tab04_df_2b.columns.values[0] = 'County'

In [287]:
# Deleting extra rows
bad_rows=[]
for i in np.arange(tab04_df_2b.shape[0]):
    if '_county' in tab04_df_2b.iloc[i,0]:
        continue
    else:
        bad_rows.append(i)
tab04_df_2b.drop(tab04_df_2b.index[bad_rows], inplace=True)

/Users/ghfmhf/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [288]:
tab04_df_2b['County'] = tab04_df_2b['County'].str.replace('_county','')

/Users/ghfmhf/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [293]:
pop_hous_df = pd.concat([tab04_df_2b,tab04_df_1b])

pop_hous_df.to_csv('data/pop_hous_df.csv')

# tab05_df
change in population density

In [189]:
clean_tab05_df = tab05_df.drop(['Unnamed: 1', 'Housing'], axis=1)

In [190]:
tab05_df.head(3)

,Unnamed: 0,Unnamed: 1,Housing,in square,Population,unit,2000 to,1990 to,1980 to,2000 to.1,1990 to.1,1980 to.1
0,NaN,Population,units,miles,density,density,2010,2000,1990,2010,2000,1990
1,Tennessee,"6,346,105","2,812,133","41,234 .90",153 .9,68 .2,11 .5,16 .7,6 .2,15 .3,20 .4,15 .9
2,Anderson County,"75,129","34,717",337 .16,222 .8,103 .0,5 .3,4 .5,1 .3,7 .0,10 .7,13 .4

In [191]:
clean_tab05_df.columns = ['County', 'Land/sq.mi', 'Popul_Dens', 'Hous_Dens', 'Pop%00-10', 'Pop%90-00', 'Hous%80-90', 'Hous%00-10', 'Hous%90-00', 'Hous%80-90']

In [192]:
clean_tab05_df.drop([0,1,71,72], axis=0, inplace=True)

In [122]:
clean_tab05_df.drop([0,1,71,72], axis=0, inplace=True)

In [193]:
for i in np.arange(clean_tab05_df.shape[0]):
    clean_tab05_df.iloc[i,0] = unitext(clean_tab05_df.iloc[i,0])
    clean_tab05_df.iloc[i,0] = clean_tab05_df.iloc[i,0].replace('_county','')

In [194]:
clean_tab05_df = clean_tab05_df.replace('–','0')

In [196]:
for i in np.arange(clean_tab05_df.shape[0]):
    for j in np.arange(1, clean_tab05_df.shape[1]):
        clean_tab05_df.iloc[i,j] = clean_tab05_df.iloc[i,j].replace('–','-')
        clean_tab05_df.iloc[i,j] = clean_tab05_df.iloc[i,j].replace(' ','')
        clean_tab05_df.iloc[i,j] = clean_tab05_df.iloc[i,j].replace(',','')
        clean_tab05_df.iloc[i,j] = float(clean_tab05_df.iloc[i,j])

In [153]:
clean_tab05_df.replace('–','-', inplace=True)
clean_tab05_df.replace(' ','', inplace=True)

In [198]:
clean_tab05_df.to_csv('data/density_pct.csv')

# tab071_df
% of rural population (split on page break)

In [73]:
# Removing extra columns
clean_tab071_df = tab071_df.drop(['Unnamed: 1', 'Unnamed: 2', 'Urban', 'Unnamed: 4',
       'Unnamed: 5', 'Rur ercenal', 'Unnamed: 7', 'Unnamed: 8'], axis = 1)

# Removing extra rows
clean_tab071_df.drop([0,1,2,3], axis = 0, inplace=True)

# Setting header
clean_tab071_df.columns = ['County', '% of Rural Population']

# Cleaning the data

# Remove junk characters, word 'county' and convert string to numbers

for i in np.arange(clean_tab071_df.shape[0]):
    clean_tab071_df.iloc[i,0] = unitext(clean_tab071_df.iloc[i,0]) 
    clean_tab071_df.iloc[i,0] = clean_tab071_df.iloc[i,0].replace('_county','')
    clean_tab071_df.iloc[i,1] = float(clean_tab071_df.iloc[i,1].replace(' ',''))

# tab072_df
% of rural population (split on page break)

In [87]:
# Same procedure as tab071_df above

clean_tab072_df = tab072_df.drop(['Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5',
       'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8'], axis = 1)

clean_tab072_df.drop([0,1], axis = 0, inplace=True)

clean_tab072_df.columns = ['County', '% of Rural Population']

for i in np.arange(clean_tab072_df.shape[0]):
    clean_tab072_df.iloc[i,0] = unitext(clean_tab072_df.iloc[i,0]) 
    clean_tab072_df.iloc[i,0] = clean_tab072_df.iloc[i,0].replace('_county','')
    clean_tab072_df.iloc[i,1] = float(clean_tab072_df.iloc[i,1].replace(' ','.'))

In [97]:
pct_rural = pd.concat([clean_tab071_df, clean_tab072_df])

pct_rural.to_csv('data/pct_rural_df.csv')

# zip_tn_df

In [428]:
# Filtering TN zipcodes
zip_tn_df = zip_us_df[zip_us_df['state'] == 'TN']

In [429]:
# Removing extra columns
zip_tn_df.drop(['type', 'decommissioned', 'state', 'timezone', 'area_codes','world_region', 'country', 'irs_estimated_population_2014'], axis= 1, inplace=True)

/Users/ghfmhf/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [430]:
# Aviod using 'zip' since it's a python reserved word
zip_tn_df.rename(columns={"zip": "zipcode"}, inplace=True)

/Users/ghfmhf/anaconda3/lib/python3.6/site-packages/pandas/core/frame.py:2746: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  **kwargs)

In [431]:
# There is a bad data in county column
zip_tn_df.isnull().sum()[zip_tn_df.isnull().sum() != 0]

acceptable_cities      672
unacceptable_cities    617
county                   1
dtype: int64

In [432]:
# Marking the NaN county
zip_tn_df['county'].fillna('?', inplace=True)

/Users/ghfmhf/anaconda3/lib/python3.6/site-packages/pandas/core/generic.py:3660: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

In [435]:
# A search revealed the missing county is Obion
zip_tn_df.loc[16779,'county'] = 'obion'

/Users/ghfmhf/anaconda3/lib/python3.6/site-packages/pandas/core/indexing.py:517: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [436]:
# Standardizing city and county names
for i in np.arange(zip_tn_df.shape[0]):
    zip_tn_df.iloc[i,1] = unitext(zip_tn_df.iloc[i,1])
    zip_tn_df.iloc[i,4] = unitext(zip_tn_df.iloc[i,4])
    zip_tn_df.iloc[i,4] = zip_tn_df.iloc[i,4].replace('_county','')

/Users/ghfmhf/anaconda3/lib/python3.6/site-packages/pandas/core/indexing.py:517: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [440]:
zip_tn_df.to_csv('data/zip_tn.csv')

# hq_df
### industries

add lat & long

### Create a list of Counties with average distance from HQs

calculate distance from each industry

In [511]:
# Cleaning the headers
hq_df['lat'] = ''
hq_df['long'] = ''
hq_df.columns = ['idx', 'Company', 'City', 'Size', 'Lat', 'Long']
hq_df.drop(['idx'], axis=1, inplace=True)

In [514]:
# Some rows lack data. Removed
bad_rows = list(hq_df[hq_df['City'].isnull()].index)

hq_df.drop(bad_rows, axis=0, inplace=True)

In [517]:
hq_df.drop(bad_rows, axis=0, inplace=True)

In [529]:
for i in np.arange(hq_df.shape[0]):
    hq_df.iloc[i,1] = unitext(hq_df.iloc[i,1])

In [538]:
hq_coor = pd.merge(hq_df, zip_tn_df, how='left', left_on='City', right_on='primary_city')

In [539]:
hq_coor.drop_duplicates(subset='Company', keep='first', inplace=True)

In [540]:
hq_coor.columns

Index(['Company', 'City', 'Size', 'Lat', 'Long', 'zipcode', 'primary_city',
       'acceptable_cities', 'unacceptable_cities', 'county', 'latitude',
       'longitude'],
      dtype='object')

In [541]:
hq_coor.drop(['City', 'Size', 'Lat', 'Long', 'zipcode', 'primary_city','acceptable_cities', 'unacceptable_cities', 'county'], axis=1, inplace=True)

In [553]:
bad_rows = list(hq_coor[hq_coor['latitude'].isnull() | hq_coor['longitude'].isnull()].index)
hq_coor.drop(bad_rows, axis=0, inplace=True)

In [554]:
hq_coor.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 96 entries, 0 to 2754
Data columns (total 3 columns):
Company      96 non-null object
latitude     96 non-null float64
longitude    96 non-null float64
dtypes: float64(2), object(1)
memory usage: 3.0+ KB

In [555]:
county_coor = zip_tn_df.drop_duplicates(subset='county', keep='first')

In [558]:
county_coor.drop(['zipcode', 'primary_city', 'acceptable_cities', 'unacceptable_cities'], axis=1,inplace=True)

/Users/ghfmhf/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [561]:
county_coor.sort_values(by='county', inplace=True)

/Users/ghfmhf/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [563]:
county_coor['Avg_Dist'] = ''

/Users/ghfmhf/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [589]:
for i in np.arange(county_coor.shape[0]):
    dist_sum = 0
    for j in np.arange(hq_coor.shape[0]):
        dist_sum = dist_sum + euclid(county_coor.iloc[i,1], county_coor.iloc[i,2], hq_coor.iloc[i,1], hq_coor.iloc[i,2])
    county_coor.iloc[i,3] = dist_sum

/Users/ghfmhf/anaconda3/lib/python3.6/site-packages/pandas/core/indexing.py:517: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

# sold_df
#### number of houses and median price over years

remove extra rows

rename columns

standardize counties

In [622]:
# Renaming columns

new_names=[]
for i in np.arange(sold_df.shape[1]):
    if i < 12:
        snippet = 'Houses_sold_'
    else:
        snippet = 'Median_Price_'
    
    new_names.append(snippet+str(sold_df.iloc[0,i])) 


sold_df.columns=new_names

# removing extra rows
sold_df.drop([0,1,2,3,99,100,101],axis=0, inplace=True)

# More cleaning and renaming on columns
sold_df.drop(['Houses_sold_nan'], axis=1, inplace=True)

sold_df.rename(columns={'Houses_sold_ ': 'County'}, inplace=True)

for i in np.arange(sold_df.shape[0]):
    sold_df.iloc[i,0] = unitext(sold_df.iloc[i,0])

In [634]:
sold_df.to_csv('data/home_sold.csv')

# tab12_df
### area and number of lands subdivided into price and area within counties

Tables successfully transformed. Next Steps:
remove NaN rows columns
rename columns
make sure all values are numeric

In [746]:
# Removing rows that only contain NaN
nan_rows=[]
for i in np.arange(tab12_df.shape[0]):
    check_sum = tab12_df.iloc[i].isnull().sum()
    if check_sum == 14: # All NaN
        nan_rows.append(i)
tab12_df.drop(nan_rows,axis=0, inplace=True        

tab12_df.reset_index(inplace=True)
tab12_df.drop(['index'], axis=1, inplace=True)

In [762]:
tab12_df

                                                     0           1   \
0                                                  item   Tennessee
1                               farms_and_land_in_farms         NaN
2                                     farms_number_2012      68,050
3                                                  2007      79,280
4                              land_in_farms_acres_2012  10,867,812
5                                                  2007  10,969,798
6                       average_size_of_farm_acres_2012         160
7                                                  2007         138
8     estimated_market_value_of_land_and_buildings_f...      68,050
9                                                  2007      79,280
10                                            1000_2012  38,748,784
11                                                 2007  37,057,079
12                        average_per_farm_dollars_2012     569,416
13                                                 2007     467,420
14                        average_per_acre_dollars_2012       3,565
15                                                 2007       3,378
16                            2012_farms_by_value_group         NaN
17                                           1_to_49999       4,282
18                                       50000_to_99999       6,104
19                                     100000_to_199999      14,241
20                                     200000_to_499999      25,458
21                                     500000_to_999999      10,470
22                                   1000000_to_1999999       4,334
23                                   2000000_to_4999999       2,277
24                                   5000000_to_9999999         608
25                                     10000000_or_more         276
26                     approximate_land_area_acres_2012  26,391,606
27                     proportion_in_farms_percent_2012        41.2
28                                    2012_size_of_farm         NaN
29                                   1_to_9_acres_farms       3,230
30                                                acres      16,752
31                                 10_to_49_acres_farms      23,563
32                                                acres     646,064
33                                 50_to_69_acres_farms       7,704
34                                                acres     446,345
35                                 70_to_99_acres_farms       7,519
36                                                acres     622,055
37                               100_to_139_acres_farms       7,261
38                                                acres     842,185
39                               140_to_179_acres_farms       4,553
40                                                acres     714,453
41                               180_to_219_acres_farms       3,185
42                                                acres     629,408
43                               220_to_259_acres_farms       2,055
44                                                acres     489,524
45                               260_to_499_acres_farms       5,224
46                                                acres   1,821,129
47                               500_to_999_acres_farms       2,268
48                                                acres   1,507,906
49                             1000_to_1999_acres_farms         956
50                                                acres   1,267,223
51                             2000_acres_or_more_farms         532
52                                                acres   1,864,768
53                                    2007_size_of_farm         NaN
54                                   1_to_9_acres_farms       5,814
55                                                acres      31,407
56                                 10_to_49_acres_farms      29,396
57                                                acres     781,709
58                                 50_to_69_acres_farms       8,606
59                                                acres     498,582
60                                 70_to_99_acres_farms       8,672
61                                                acres     715,330
62                               100_to_139_acres_farms       7,680
63                                                acres     890,774
64                               140_to_179_acres_farms       4,630
65                                                acres     725,992
66                               180_to_219_acres_farms       3,113
67                                                acres     614,373
68                               220_to_259_acres_farms       2,258
69                                                acres     536,822
70                               260_to_499_acres_farms       5,476
71                                                acres   1,908,537
72                               500_to_999_acres_farms       2,287
73                                                acres   1,525,271
74                             1000_to_1999_acres_farms         892
75                                                acres   1,199,502
76                             2000_acres_or_more_farms         456
77                                                acres   1,541,499
78                       land_in_farms_according_to_use         NaN
79                            total_cropland_farms_2012      51,019
80                                                 2007      61,274
81                                           acres_2012   5,329,692
82                                                 2007   6,047,348
83                        harvested_cropland_farms_2012      44,908
84                                                 2007      48,292
85                                           acres_2012   4,546,788
86                                                 2007   4,226,440
87    other_pasture_and_grazing_land_that_could_have...         NaN
88                    used_for_crops_without_additional         NaN
89                     improvements_see_text_farms_2012       5,852
90                                                 2007      21,089
91                                           acres_2012     407,005
92                                                 2007   1,190,823
93                                                 item      Cannon
94                              farms_and_land_in_farms         NaN
95                                    farms_number_2012         717
96                                                 2007         880
97                             land_in_farms_acres_2012      96,262
98                                                 2007     116,720
99                      average_size_of_farm_acres_2012         134
100                                                2007         133
101   estimated_market_value_of_land_and_buildings_f...         717
102                                                2007         880
103                                           1000_2012     298,089
104                                                2007     377,306
105                       average_per_farm_dollars_2012     415,744
106                                                2007     428,757
107                       average_per_acre_dollars_2012       3,097
108                                                2007       3,233
109                           2012_farms_by_value_group         NaN
110                                          1_to_49999          42
111                                      50000_to_99999          73
112                                    100000_to_199999         161
113                                    200000_to_499999         307
114                                    500000_to_999999          87
115                                  1000000_to_1999999          27
116                                  2000000_to_4999999          16
117                                  5000000_to_9999999           3
118                                    10000000_or_more           1
119                    approximate_land_area_acres_2012     170,006
120                    proportion_in_farms_percent_2012        56.6
121                                   2012_size_of_farm         NaN
122                                  1_to_9_acres_farms          29
123                                               acres         123
124                                10_to_49_acres_farms         234
125                                               acres       6,078
126                                50_to_69_acres_farms          75
127                                               acres       4,303
128                                70_to_99_acres_farms          86
129                                               acres       7,259
130                              100_to_139_acres_farms          86
131                                               acres       9,812
132                              140_to_179_acres_farms          54
133                                               acres       8,371
134                              180_to_219_acres_farms          43
135                                               acres       8,496
136                              220_to_259_acres_farms          20
137                                               acres       4,670
138                              260_to_499_acres_farms          64
139                                               acres      22,007
140                              500_to_999_acres_farms          20
141                                               acres      13,764
142                            1000_to_1999_acres_farms           3
143                                               acres       4,445
144                            2000_acres_or_more_farms           3
145                                               acres       6,934
146                                   2007_size_of_farm         NaN
147                                  1_to_9_acres_farms          60
148                                               acres         (D)
149                                10_to_49_acres_farms         269
150                                               acres       7,003
151                                50_to_69_acres_farms          86
152                                               acres       4,940
153                                70_to_99_acres_farms         101
154                                               acres       8,391
155                              100_to_139_acres_farms         107
156                                               acres      12,490
157                              140_to_179_acres_farms          61
158                                               acres       9,436
159                              180_to_219_acres_farms          47
160                                               acres       9,444
161                              220_to_259_acres_farms          42
162                                               acres       9,837
163                              260_to_499_acres_farms          68
164                                               acres      24,646
165                              500_to_999_acres_farms          32
166                                               acres      19,191
167                            1000_to_1999_acres_farms           6
168                                               acres       8,532
169                            2000_acres_or_more_farms           1
170                                               acres         (D)
171                      land_in_farms_according_to_use         NaN
172                           total_cropland_farms_2012         495
173                                                2007         601
174                                          acres_2012      38,470
175                                                2007      48,624
176                       harvested_cropland_farms_2012         447
177                                                2007         482
178                                          acres_2012      33,938
179                                                2007      31,440
180   other_pasture_and_grazing_land_that_could_have...         NaN
181                   used_for_crops_without_additional         NaN
182                    improvements_see_text_farms_2012          54
183                                                2007         202
184                                          acres_2012       2,867
185                                                2007      14,587
186                                                item      Coffee
187                             farms_and_land_in_farms         NaN
188                                   farms_number_2012         895
189                                                2007       1,008
190                            land_in_farms_acres_2012     144,840
191                                                2007     139,945
192                     average_size_of_farm_acres_2012         162
193                                                2007         139
194   estimated_market_value_of_land_and_buildings_f...         895
195                                                2007       1,008
196                                           1000_2012     512,672
197                                                2007     490,415
198                       average_per_farm_dollars_2012     572,818
199                                                2007     486,522
200                       average_per_acre_dollars_2012       3,540
201                                                2007       3,504
202                           2012_farms_by_value_group         NaN
203                                          1_to_49999          56
204                                      50000_to_99999          92
205                                    100000_to_199999         200
206                                    200000_to_499999         328
207                                    500000_to_999999         111
208                                  1000000_to_1999999          56
209                                  2000000_to_4999999          38
210                                  5000000_to_9999999          12
211                                    10000000_or_more           2
212                    approximate_land_area_acres_2012     274,536
213                    proportion_in_farms_percent_2012        52.8
214                                   2012_size_of_farm         NaN
215                                  1_to_9_acres_farms          57
216                                               acres         270
217                                10_to_49_acres_farms         367
218                                               acres       9,794
219                                50_to_69_acres_farms          97
220                                               acres       5,589
221                                70_to_99_acres_farms          74
222                                               acres       6,177
223                              100_to_139_acres_farms          82
224                                               acres       9,492
225                              140_to_179_acres_farms          55
226                                               acres       8,664
227                              180_to_219_acres_farms          19
228                                               acres       3,856
229                              220_to_259_acres_farms          15
230                                               acres       3,672
231                              260_to_499_acres_farms          58
232                                               acres      20,942
233                              500_to_999_acres_farms          38
234                                               acres      24,850
235                            1000_to_1999_acres_farms          26
236                                               acres      31,414
237                            2000_acres_or_more_farms           7
238                                               acres      20,120
239                                   2007_size_of_farm         NaN
240                                  1_to_9_acres_farms          85
241                                               acres         445
242                                10_to_49_acres_farms         405
243                                               acres      10,218
244                                50_to_69_acres_farms         112
245                                               acres       6,358
246                                70_to_99_acres_farms          93
247                                               acres       7,512
248                              100_to_139_acres_farms          87
249                                               acres       9,939
250                              140_to_179_acres_farms          36
251                                               acres       5,798
252                              180_to_219_acres_farms          29
253                                               acres       5,665
254                              220_to_259_acres_farms          20
255                                               acres       4,833
256                              260_to_499_acres_farms          77
257                                               acres      25,648
258                              500_to_999_acres_farms          41
259                                               acres      26,896
260                            1000_to_1999_acres_farms          17
261                                               acres      20,022
262                            2000_acres_or_more_farms           6
263                                               acres      16,611
264                      land_in_farms_according_to_use         NaN
265                           total_cropland_farms_2012         667
266                                                2007         753
267                                          acres_2012      78,978
268                                                2007      83,786
269                       harvested_cropland_farms_2012         614
270                                                2007         641
271                                          acres_2012      74,092
272                                                2007      64,211
273   other_pasture_and_grazing_land_that_could_have...         NaN
274                   used_for_crops_without_additional         NaN
275                    improvements_see_text_farms_2012          72
276                                                2007         249
277                                          acres_2012       2,923
278                                                2007      14,421
279                                                item     Fayette
280                             farms_and_land_in_farms         NaN
281                                   farms_number_2012         745
282                                                2007         952
283                            land_in_farms_acres_2012     229,022
284                                                2007     227,434
285                     average_size_of_farm_acres_2012         307
286                                                2007         239
287   estimated_market_value_of_land_and_buildings_f...         745
288                                                2007         952
289                                           1000_2012     719,399
290                                                2007     734,892
291                       average_per_farm_dollars_2012     965,636
292                                                2007     771,945

In [748]:
# Standardize row headers
for i in np.arange(tab12_df.shape[0]):
    tab12_df.iloc[i,0] = unitext(tab12_df.iloc[i,0])

In [763]:
# Looking for the word 'item' - top left corner for transpose

corners = []
start_over = []

for i in np.arange(tab12_df.shape[0]):
    if unitext(tab12_df.iloc[i,0]) == 'item':
        corners.append(i)
        if unitext(tab12_df.iloc[i,1]) == 'tennessee': # Start_Over reveals that there are two tables in one dataframes
            start_over.append(i)
            

corners.append(tab12_df.shape[0])

# Start_Over reveals that there are two tables in one dataframes
# These two tables have to be handled separately

corners1=corners[:corners.index(start_over[1])+1]
corners2=corners[corners.index(start_over[1]):]

In [795]:
blank1_df = pd.DataFrame()

for i in np.arange(len(corners1)-2):
    temp = tab12_df[corners1[i] : corners1[i+1]]
    temp.reset_index(inplace=True)
    temp.drop(['index'], axis=1, inplace=True)
    temp_tran = temp.transpose()
    blank1_df = pd.concat([blank1_df,temp_tran])

/Users/ghfmhf/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [797]:
blank2_df = pd.DataFrame()

for i in np.arange(len(corners2)-2):
    temp = tab12_df[corners2[i] : corners2[i+1]]
    temp.reset_index(inplace=True)
    temp.drop(['index'], axis=1, inplace=True)
    temp_tran = temp.transpose()
    blank2_df = pd.concat([blank2_df,temp_tran])

/Users/ghfmhf/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy