# Calling libraries

In [1]:
import pandas as pd
import numpy as np

# Functions

In [55]:
# This function should remove NANs from a list
def cleanan(input_list):
    cleaned = [i for i in input_list if pd.isnull(i) == False]
    return (cleaned)

# All the CSVs created in cap_read will be called and merged

In [2]:
rural_df = pd.read_csv('data/pct_rural_df.csv', index_col=1)
rural_df.drop(['Unnamed: 0'], axis=1, inplace=True)
rural_df.head(3)

          % of Rural Population
County
anderson                   34.7
bedford                    55.6
benton                     78.5

In [3]:
housing_df = pd.read_csv('data/pop_hous_df.csv', index_col=1)
housing_df.drop(['Unnamed: 0'], axis=1, inplace=True)
housing_df.head(3)

,Population_2010,Population_2000,Population_1990,Population_1980,Population_1970,Housing_2010,Housing_2000,Housing_1990,Housing_1980,Housing_1970
County,,,,,,,,,,
anderson,75129,71330,68250,67346,60300,34717,32451,29323,25849,20451
bedford,45058,37586,30411,27916,25039,18360,14990,12638,10814,8820
benton,16489,16537,14524,14901,12126,8975,8595,7107,6526,4637

In [4]:
industry_df = pd.read_csv('data/indus_dist.csv', index_col=1)
industry_df.drop(['Unnamed: 0'], axis=1, inplace=True)
industry_df.head(3)

          latitude  longitude      Avg_Dist
county
anderson     36.20     -84.04  32775.820230
bedford      35.59     -86.35   4503.073082
benton       36.23     -88.08   6487.141318

In [5]:
density_df = pd.read_csv('data/density_pct.csv', index_col=1)
density_df.drop(['Unnamed: 0'], axis=1, inplace=True)
density_df.rename(columns={'Hous%80-90.1' : 'Pop%80-90'},inplace=True)
density_df.head(3)

,Land/sq.mi,Popul_Dens,Hous_Dens,Pop%00-10,Pop%90-00,Hous%80-90,Hous%00-10,Hous%90-00,Pop%80-90
County,,,,,,,,,
anderson,337.16,222.8,103.0,5.3,4.5,1.3,7.0,10.7,13.4
bedford,473.64,95.1,38.8,19.9,23.6,8.9,22.5,18.6,16.9
benton,394.14,41.8,22.8,-0.3,13.9,-2.5,4.4,20.9,8.9

In [6]:
farm0712_df = pd.read_csv('data/farm.csv', index_col=1)
farm0712_df.drop(['Unnamed: 0'], axis=1, inplace=True)
farm0712_df.head(3)

,farms_number_2012,farms_number_2007,land_in_farms_acres_2012,land_in_farms_acres_2007,average_size_of_farm_acres_2012,average_size_of_farm_acres_2007,estimated_market_value_of_land_and_buildings_farms_2012,estimated_market_value_of_land_and_buildings_farms_2007,1000_2012,1000_2007,...,total_cropland_acres_2012,total_cropland_acres_2007,harvested_cropland_farms_2012,harvested_cropland_farms_2007,harvested_cropland_acres_2012,harvested_cropland_acres_2007,improvements_see_text_farms_2012,improvements_see_text_farms_2007,improvements_see_text_acres_2012,improvements_see_text_acres_2007
item,,,,,,,,,,,,,,,,,,,,,
anderson,441,538,35845,40135,81,75,441,538,209899,214397,...,10163,17025,293,350,8933,9295,23.0,143,771.0,6703.0
bedford,1411,1554,232381,231206,165,149,1411,1554,887879,855072,...,88563,106886,951,944,70961,63198,118.0,406,12989.0,34975.0
benton,463,500,87902,72522,190,145,463,500,197008,162086,...,38546,37596,254,259,25166,16651,57.0,125,5132.0,11337.0

In [7]:
home_sale_df = pd.read_csv('data/home_sold.csv', index_col=1)
home_sale_df.drop(['Unnamed: 0'], axis=1, inplace=True)
home_sale_df.head(3)

,Houses_sold_2007,Houses_sold_2008,Houses_sold_2009,Houses_sold_2010,Houses_sold_2011,Houses_sold_2012,Houses_sold_2013,Houses_sold_2014,Houses_sold_2015,Houses_sold_2016,Median_Price_2007,Median_Price_2008,Median_Price_2009,Median_Price_2010,Median_Price_2011,Median_Price_2012,Median_Price_2013,Median_Price_2014,Median_Price_2015,Median_Price_2016
County,,,,,,,,,,,,,,,,,,,,
anderson,4,42,21,27,19,3,25,22,26,34,135950.0,176950.0,204000.0,279154,149900.0,171020.0,135000.0,172900.0,174900.0,209250.0
bedford,116,100,56,29,17,12,11,36,51,73,140950.0,136250.0,134950.0,128900,124000.0,111950.0,109900.0,122200.0,138200.0,147000.0
benton,2,7,3,3,1,1,0,3,0,1,249750.0,163500.0,108000.0,127000,300000.0,120000.0,0.0,191000.0,0.0,110000.0

In [8]:
farm02_df = pd.read_csv('data/farm2.csv', index_col=1)
farm02_df.drop(['Unnamed: 0'], axis=1, inplace=True)
farm02_df.head(3)

,farms_number_2002,land_in_farms_acres_2002,average_size_of_farm_acres_2002,estimated_market_value_of_land_and_buildings_farms_2002,1000_2002,average_per_farm_dollars_2002,average_per_acre_dollars_2002,2007_farms_by_value_group_1_to_49999,2007_farms_by_value_group_50000_to_99999,2007_farms_by_value_group_100000_to_199999,...,2002_size_of_farm_2000_acres_or_more_farms,2002_size_of_farm_2000_acres_or_more_acres,total_cropland_farms_2002,total_cropland_acres_2002,harvested_cropland_farms_2002,harvested_cropland_acres_2002,cropland_used_only_for_pasture_or_grazing_farms_2007,cropland_used_only_for_pasture_or_grazing_farms_2002,cropland_used_only_for_pasture_or_grazing_acres_2007,cropland_used_only_for_pasture_or_grazing_acres_2002
item,,,,,,,,,,,,,,,,,,,,,
anderson,596,47849,80,594,189411,318874,4033,32,59,126,...,NaN,NaN,500,25309,400,11351,143,323,6703.0,11501.0
bedford,1667,219429,132,1675,561512,335231,2494,81,126,296,...,2.0,NaN,1251,115189,924,61360,406,757,34975.0,47517.0
benton,595,78013,131,594,115933,195174,1580,45,70,129,...,1.0,NaN,472,40478,260,17778,125,267,11337.0,15739.0

In [9]:
pasture0712_df = pd.read_csv('data/pasture.csv', index_col=1)
pasture0712_df.drop(['Unnamed: 0'], axis=1, inplace=True)
pasture0712_df.head(3)

,other_cropland_farms_2012,other_cropland_farms_2007,other_cropland_acres_2012,other_cropland_acres_2007,not_pastured_or_grazed_farms_2012,not_pastured_or_grazed_farms_2007,not_pastured_or_grazed_acres_2012,not_pastured_or_grazed_acres_2007,cropland_on_which_all_crops_failed_farms_2012,cropland_on_which_all_crops_failed_farms_2007,...,pastureland_all_types_acres_2012,pastureland_all_types_acres_2007,reserve_enhancement_programs_farms_2012,reserve_enhancement_programs_farms_2007,reserve_enhancement_programs_acres_2012,reserve_enhancement_programs_acres_2007,land_enrolled_in_crop_insurance_programs_farms_2012,land_enrolled_in_crop_insurance_programs_farms_2007,land_enrolled_in_crop_insurance_programs_acres_2012,land_enrolled_in_crop_insurance_programs_acres_2007
item,,,,,,,,,,,,,,,,,,,,,
anderson,35,64,459,1027.0,26,53,368.0,795,10.0,18,...,17919,20109.0,2.0,1.0,NaN,NaN,2.0,NaN,NaN,NaN
bedford,125,169,4613,8713.0,110,106,3324.0,4150,21.0,74,...,134463,136277.0,21.0,29.0,655.0,1541.0,50.0,32.0,18499.0,9883.0
benton,137,165,8248,9608.0,127,142,7381.0,8738,12.0,27,...,32263,29238.0,96.0,124.0,5763.0,7216.0,20.0,4.0,12205.0,2855.0

In [10]:
pasture02_df = pd.read_csv('data/pasture2.csv', index_col=1)
pasture02_df.drop(['Unnamed: 0'], axis=1, inplace=True)
pasture02_df.head(3)

,other_cropland_farms_2002,other_cropland_acres_2002,not_pastured_or_grazed_see_text_farms_2002,not_pastured_or_grazed_see_text_acres_2002,cropland_on_which_all_crops_failed_farms_2002,cropland_on_which_all_crops_failed_acres_2002,cropland_in_cultivated_summer_fallow_farms_2002,cropland_in_cultivated_summer_fallow_acres_2007,cropland_in_cultivated_summer_fallow_acres_2002,total_woodland_farms_2007,total_woodland_farms_2002,total_woodland_acres_2007,total_woodland_acres_2002,woodland_pastured_farms_2007,woodland_pastured_farms_2002,woodland_pastured_acres_2007,woodland_pastured_acres_2002,woodland_not_pastured_farms_2007
item,,,,,,,,,,,,,,,,,,
anderson,80,2457.0,72,2364.0,14,93.0,NaN,NaN,NaN,326,369,10799,12974,161.0,192,2891.0,3790.0,241
bedford,215,6312.0,191,5373.0,37,NaN,1.0,NaN,NaN,836,859,36152,38296,586.0,610,20856.0,22449.0,391
benton,173,6961.0,167,6895.0,13,66.0,NaN,NaN,NaN,298,346,17270,19621,119.0,175,3164.0,5589.0,238

# 1. Merge the dataframes

In [83]:
explan_df = rural_df.merge(housing_df, left_index=True, right_index=True, how='left')

explan_df = explan_df.merge(industry_df, left_index=True, right_index=True, how='left')

explan_df = explan_df.merge(density_df, left_index=True, right_index=True, how='left')

explan_df = explan_df.merge(home_sale_df, left_index=True, right_index=True, how='left')

explan_df = explan_df.merge(farm0712_df, left_index=True, right_index=True, how='left')

explan_df = explan_df.merge(pasture0712_df, left_index=True, right_index=True, how='left')

explan_df = explan_df.merge(pasture02_df, left_index=True, right_index=True, how='left')

In [84]:
# Some 2007 duplicate columns are left behind, so they have to be removed
dup_07=[]
for i in np.arange(explan_df.shape[1]):
    if explan_df.columns[i][-2:] =='_y':
        dup_07.append(explan_df.columns[i])
explan_df.drop(dup_07, axis=1, inplace=True)

# 2. Create a list of columns

This will take place separately. A file will be created in Excel, simplifying the tables PLUS adding a description to the table for future reference.

In [13]:
explan_cols = explan_df.transpose()
explan_cols.isnull().sum()[explan_cols.isnull().sum() != 0]
explan_cols['brief_header']=''
explan_cols['description']=''
explan_cols.drop(list(explan_cols.columns[0:95]), axis=1, inplace=True)
# explan_cols.to_csv('data/Col_Dict2.csv')

### 3. Make a brief heading for the columns + the definition and source of information

In [85]:
col_dict = pd.read_csv('data/Col_Dict.csv')
col_dict

,Unnamed: 0,brief_header,description,Ref
0,% of Rural Population,pct_rur_10,% of rural pouplation @ 2010,"2010 Census of Population and Housing, Table 7..."
1,Population_2010,pop_10,County population in 2010,"2010 Census of Population and Housing, Table 4..."
2,Population_2000,pop_00,County population in 2000,"2010 Census of Population and Housing, Table 4..."
3,Population_1990,pop_90,County population in 1990,"2010 Census of Population and Housing, Table 4..."
4,Population_1980,pop_80,County population in 1980,"2010 Census of Population and Housing, Table 4..."
5,Population_1970,pop_70,County population in 1970,"2010 Census of Population and Housing, Table 4..."
6,Housing_2010,hsg_10,County housing units in 2010,"2010 Census of Population and Housing, Table 4..."
7,Housing_2000,hsg_00,County housing units in 2000,"2010 Census of Population and Housing, Table 4..."
8,Housing_1990,hsg_90,County housing units in 1990,"2010 Census of Population and Housing, Table 4..."
9,Housing_1980,hsg_80,County housing units in 1980,"2010 Census of Population and Housing, Table 4..."
10,Housing_1970,hsg_70,County housing units in 1970,"2010 Census of Population and Housing, Table 4..."
11,latitude,lat,Latitude of the county midpoint (approx),http://federalgovernmentzipcodes.us/free-zipco...
12,longitude,long,Longitude of the county midpoint (approx),http://federalgovernmentzipcodes.us/free-zipco...
13,Avg_Dist,ind_dis,Distance from major industries in TN,https://www.zippia.com/advice/largest-companie...
14,Land/sq.mi,land_sqmi,Land area in square miles,"2010 Census of Population and Housing, Table 5..."
15,Popul_Dens,pop_den,Population density - average per square mile o...,"2010 Census of Population and Housing, Table 5..."
16,Hous_Dens,hsg_den,Housing density - average per square mile of land,"2010 Census of Population and Housing, Table 5..."
17,Pop%00-10,pct_dpop_00,Percent change in population (2000-2010),"2010 Census of Population and Housing, Table 5..."
18,Pop%90-00,pct_dpop_90,Percent change in population (1990-2000),"2010 Census of Population and Housing, Table 5..."
19,Hous%80-90,pct_dhsg_80,Percent change in housing (1980-1990),"2010 Census of Population and Housing, Table 5..."
20,Hous%00-10,pct_dhsg_90,Percent change in housing (2000-2010),"2010 Census of Population and Housing, Table 5..."
21,Hous%90-00,pct_dhsg_00,Percent change in housing (1990-2000),"2010 Census of Population and Housing, Table 5..."
22,Pop%80-90,pct_dpop_80,Percent change in population (1980-1990),"2010 Census of Population and Housing, Table 5..."
23,Houses_sold_2007,h_sold_07,Home sales 2007,https://thda.org/research-planning/home-sales-...
24,Houses_sold_2008,h_sold_08,Home sales 2008,https://thda.org/research-planning/home-sales-...
25,Houses_sold_2009,h_sold_09,Home sales 2009,https://thda.org/research-planning/home-sales-...
26,Houses_sold_2010,h_sold_10,Home sales 2010,https://thda.org/research-planning/home-sales-...
27,Houses_sold_2011,h_sold_11,Home sales 2011,https://thda.org/research-planning/home-sales-...
28,Houses_sold_2012,h_sold_12,Home sales 2012,https://thda.org/research-planning/home-sales-...
29,Houses_sold_2013,h_sold_13,Home sales 2013,https://thda.org/research-planning/home-sales-...
...,...,...,...,...
208,cropland_and_woodland_pastured_see_text_acres_...,ps_rg_acr_12,Permanent pasture and rangeland 2012 (Acres),"2012 Census Volume 1, Chapter 2: County Level ..."
209,cropland_and_woodland_pastured_see_text_acres_...,ps_rg_acr_07,Permanent pasture and rangeland 2007 (Acres),"2012 Census Volume 1, Chapter 2: County Level ..."
210,facilities_ponds_roads_wasteland_etc_farms_2012,bdg_fm_12,"Land in farmsteads, buildings, livestock facil...","2012 Census Volume 1, Chapter 2: County Level ..."
211,facilities_ponds_roads_wasteland_etc_farms_2007,bdg_fm_07,"Land in farmsteads, buildings, livestock facil...","2012 Census Volume 1, Chapter 2: County Level ..."
212,facilities_ponds_roads_wasteland_etc_acres_2012,bdg_acr_12,"Land in farmsteads, buildings, livestock facil...","2012 Census Volume 1, Chapter 2: County Level ..."
213,facilities_ponds_roads_wasteland_etc_acres_2007,bdg_acr_07,"Land in farmsteads, buildings, livestock facil...","2012 Census Volume 1, Chapter 2: County Level ..."
214,pastureland_all_types_farms_2012,pst_fm_12,pastureland all types 2012 (Farms),"2012 Census Volume 1, Chapter 2: County Level ..."
215,pastureland_all_types_farms_2007,pst_fm_07,pastureland all types 2007 (Farms),"2012 Census Volume 1, Chapter 2: County Level ..."
216,pastureland_all_types_acres_2012,pst_acr_12,pastureland all types 2012 (Acres),"2012 Census Volume 1, Chapter 2: County Level ..."
217,pastureland_all_types_acres_2007,pst_acr_07,pastureland all types 2007 (Acres),"2012 Census Volume 1, Chapter 2: County Level ..."
218,reserve_enhancement_programs_farms_2012,cnv_fm_12,"Land enrolled in Conservation Reserve, Wetland...","2012 Census Volume 1, Chapter 2: County Level ..."
219,reserve_enhancement_programs_farms_2007,cnv_fm_07,"Land enrolled in Conservation Reserve, Wetland...","2012 Census Volume 1, Chapter 2: County Level ..."
220,reserve_enhancement_programs_acres_2012,cnv_acr_12,"Land enrolled in Conservation Reserve, Wetland...","2012 Census Volume 1, Chapter 2: County Level ..."
221,reserve_enhancement_programs_acres_2007,cnv_acr_07,"Land enrolled in Conservation Reserve, Wetland...","2012 Census Volume 1, Chapter 2: County Level ..."
222,land_enrolled_in_crop_insurance_programs_farms...,ins_fm_12,land enrolled in crop insurance programs 2012 ...,"2012 Census Volume 1, Chapter 2: County Level ..."
223,land_enrolled_in_crop_insurance_programs_farms...,ins_fm_07,land enrolled in crop insurance programs 2007 ...,"2012 Census Volume 1, Chapter 2: County Level ..."
224,land_enrolled_in_crop_insurance_programs_acres...,ins_acr_12,land enrolled in crop insurance programs 2012 ...,"2012 Census Volume 1, Chapter 2: County Level ..."
225,land_enrolled_in_crop_insurance_programs_acres...,ins_acr_07,land enrolled in crop insurance programs 2007 ...,"2012 Census Volume 1, Chapter 2: County Level ..."
226,other_cropland_farms_2002,cp_ot_fm_02,other cropland 2002 (Farms),"2007 Census Volume 1, Chapter 2: County Level ..."
227,other_cropland_acres_2002,cp_ot_acr_02,other cropland 2002 (Acres),"2007 Census Volume 1, Chapter 2: County Level ..."
228,not_pastured_or_grazed_see_text_farms_2002,cp_id_fm_02,Cropland idle or used for cover crops or soil ...,"2007 Census Volume 1, Chapter 2: County Level ..."
229,not_pastured_or_grazed_see_text_acres_2002,cp_id_acr_02,Cropland idle or used for cover crops or soil ...,"2007 Census Volume 1, Chapter 2: County Level ..."
230,cropland_on_which_all_crops_failed_farms_2002,cp_fl_fm_02,cropland on which all crops failed 2002 (Farms),"2007 Census Volume 1, Chapter 2: County Level ..."
231,cropland_on_which_all_crops_failed_acres_2002,cp_fl_acr_02,cropland on which all crops failed 2002 (Acres),"2007 Census Volume 1, Chapter 2: County Level ..."
232,cropland_in_cultivated_summer_fallow_farms_2002,cp_sm_fm_02,cropland in cultivated summer fallow 2002 (Farms),"2007 Census Volume 1, Chapter 2: County Level ..."
233,cropland_in_cultivated_summer_fallow_acres_2002,cp_sm_acr_02,cropland in cultivated summer fallow 2002 (Acres),"2007 Census Volume 1, Chapter 2: County Level ..."
234,total_woodland_farms_2002,wd_fm_02,total woodland 2002 (Farms),"2007 Census Volume 1, Chapter 2: County Level ..."
235,total_woodland_acres_2002,wd_acr_02,total woodland 2002 (Acres),"2007 Census Volume 1, Chapter 2: County Level ..."
236,woodland_pastured_farms_2002,wd_p1_fm_02,woodland pastured 2002 (Farms),"2007 Census Volume 1, Chapter 2: County Level ..."
237,woodland_pastured_acres_2002,wd_p1_acr_02,woodland pastured 2002 (Acres),"2007 Census Volume 1, Chapter 2: County Level ..."

In [87]:
label_dict = explan_cols.merge(col_dict, left_index=True, right_on='Unnamed: 0', how='left')

In [88]:
label_dict.drop(['brief_header_x', 'description_x'], axis=1, inplace=True)

In [89]:
label_dict.columns = ['old','new','description','source']

In [90]:
# This block renames the columns. A dictionary will describe what each column mean.
renam=[]
for i in np.arange(explan_df.shape[1]):
    for j in np.arange(label_dict.shape[0]):
        if explan_df.columns[i] == label_dict.iloc[j,0]:
            renam.append(label_dict.iloc[j,1])

explan_df.columns=renam

In [97]:
# createa a test df to fill the NaNs and make sure non-NaNs are not touched
nonan_df = explan_df.copy()

,pct_rur_10,pop_10,pop_00,pop_90,pop_80,pop_70,hsg_10,hsg_00,hsg_90,hsg_80,...,cp_id_fm_02,cp_id_acr_02,cp_fl_fm_02,cp_fl_acr_02,cp_sm_fm_02,cp_sm_acr_02,wd_fm_02,wd_acr_02,wd_p1_fm_02,wd_p1_acr_02
County,,,,,,,,,,,,,,,,,,,,,
anderson,34.7,75129,71330,68250,67346,60300,34717,32451,29323,25849,...,72.0,2364.0,14.0,93.0,NaN,NaN,369.0,12974.0,192.0,3790.0
bedford,55.6,45058,37586,30411,27916,25039,18360,14990,12638,10814,...,191.0,5373.0,37.0,NaN,1.0,NaN,859.0,38296.0,610.0,22449.0
benton,78.5,16489,16537,14524,14901,12126,8975,8595,7107,6526,...,167.0,6895.0,13.0,66.0,NaN,NaN,346.0,19621.0,175.0,5589.0
bledsoe,100.0,12876,12367,9669,9478,7643,5718,5142,3771,3406,...,84.0,4771.0,11.0,189.0,NaN,NaN,318.0,21127.0,182.0,6505.0
blount,32.6,123010,105823,85969,77770,63744,55266,47059,36532,30836,...,143.0,2234.0,28.0,NaN,2.0,NaN,712.0,17460.0,424.0,8212.0
bradley,33.0,98963,87965,73712,67547,50686,41395,36820,29562,24705,...,80.0,2229.0,13.0,156.0,NaN,NaN,473.0,23121.0,283.0,7998.0
campbell,55.0,40716,39854,35079,34923,26045,19966,18527,14817,13250,...,63.0,698.0,22.0,393.0,NaN,NaN,245.0,8297.0,160.0,4235.0
cannon,81.1,13801,12826,10467,10234,8467,6037,5420,4368,4002,...,87.0,2438.0,26.0,346.0,NaN,NaN,567.0,30387.0,387.0,17462.0
carroll,83.1,28522,29473,27514,28285,25741,13184,13055,11783,11306,...,330.0,14790.0,19.0,439.0,NaN,NaN,576.0,36829.0,288.0,8978.0
carter,41.0,57424,56742,51505,50205,43259,27746,25920,21779,19315,...,68.0,972.0,7.0,38.0,NaN,NaN,331.0,10987.0,196.0,3897.0
cheatham,83.0,39105,35912,27140,21616,13199,15663,13508,10297,7481,...,152.0,5671.0,28.0,363.0,NaN,NaN,381.0,16903.0,185.0,5460.0
chester,65.2,17131,15540,12819,12727,9927,6980,6178,4944,4470,...,195.0,9848.0,21.0,332.0,NaN,NaN,300.0,18628.0,132.0,3569.0
claiborne,71.6,32213,29862,26137,24595,19420,14859,13262,10711,9385,...,259.0,7003.0,56.0,NaN,2.0,NaN,911.0,37872.0,552.0,12893.0
clay,100.0,7861,7976,7238,7676,6624,4282,3959,3340,3015,...,62.0,1477.0,9.0,NaN,2.0,NaN,340.0,24653.0,201.0,10313.0
cocke,67.5,35662,33565,29141,28792,25283,17459,15844,12282,11305,...,137.0,2954.0,52.0,418.0,NaN,NaN,556.0,20171.0,308.0,6417.0
coffee,47.3,52796,48014,40339,38311,32572,23434,20746,16786,14992,...,136.0,4960.0,57.0,NaN,2.0,NaN,616.0,24493.0,306.0,9376.0
crockett,67.4,14586,14532,13378,14941,14402,6425,6138,5521,5655,...,136.0,7946.0,15.0,615.0,NaN,NaN,114.0,5194.0,56.0,827.0
cumberland,60.9,56053,46802,34736,28676,20733,28151,22442,15864,10998,...,103.0,4020.0,16.0,NaN,1.0,NaN,542.0,33117.0,318.0,9280.0
davidson,3.4,626681,569892,510786,477811,447877,283978,252978,229065,187430,...,67.0,2302.0,15.0,150.0,NaN,NaN,260.0,11981.0,161.0,5875.0
decatur,100.0,11757,11731,10472,10857,9457,6873,6448,5346,4877,...,115.0,5278.0,16.0,412.0,NaN,NaN,315.0,28411.0,169.0,8738.0
dekalb,78.4,18723,17423,14360,13589,11151,9405,8409,6694,6080,...,113.0,3564.0,18.0,188.0,NaN,NaN,495.0,24743.0,320.0,12536.0
dickson,67.8,49666,43156,35061,30037,21977,20820,17614,14149,11140,...,231.0,5837.0,37.0,322.0,3.0,16.0,943.0,47759.0,517.0,15830.0
dyer,42.9,38335,37279,34854,34663,30427,16703,16123,14384,13332,...,107.0,6693.0,25.0,1610.0,NaN,NaN,119.0,7226.0,50.0,2169.0
fayette,79.0,38413,28796,25559,25305,22692,15669,11210,9115,8152,...,262.0,24264.0,16.0,893.0,3.0,16.0,424.0,42380.0,180.0,8001.0
fentress,100.0,17959,16625,14669,14826,12593,8961,7598,6120,5606,...,73.0,2140.0,17.0,689.0,NaN,NaN,316.0,21720.0,177.0,5178.0
franklin,69.6,41052,39270,34725,31983,27289,18697,16813,13717,11583,...,122.0,3267.0,39.0,938.0,NaN,NaN,507.0,18161.0,255.0,5206.0
gibson,47.7,49683,48154,46315,49467,47871,21999,21060,19635,19577,...,339.0,15932.0,33.0,1808.0,NaN,NaN,377.0,12441.0,142.0,3535.0
giles,73.7,29485,29447,25741,24625,22138,13844,13113,10828,9557,...,163.0,5945.0,40.0,564.0,NaN,NaN,1138.0,56198.0,849.0,35978.0
grainger,100.0,22657,20659,17095,16751,13948,10894,9732,7501,7082,...,166.0,3224.0,58.0,495.0,11.0,30.0,753.0,29023.0,473.0,10551.0
greene,65.2,68831,62909,55853,54422,47630,32025,28116,23270,21132,...,422.0,5786.0,114.0,1411.0,18.0,70.0,1919.0,40427.0,1140.0,16426.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
obion,61.6,31807,32450,31717,32781,30247,14659,14489,13359,13059,...,168.0,8661.0,19.0,1911.0,NaN,NaN,279.0,18286.0,126.0,4411.0
overton,84.2,22083,20118,17636,17575,14866,10295,9168,7388,6526,...,137.0,4384.0,27.0,274.0,4.0,16.0,644.0,32221.0,347.0,9437.0
perry,100.0,7915,7631,6612,6111,5238,4599,4115,3225,2842,...,60.0,1765.0,12.0,NaN,1.0,NaN,146.0,19418.0,44.0,2990.0
pickett,100.0,5077,4945,4548,4358,3774,3462,2956,2253,1867,...,57.0,1043.0,8.0,77.0,NaN,NaN,245.0,11590.0,131.0,2621.0
polk,100.0,16825,16050,13643,13602,11669,7991,7369,5659,5090,...,36.0,1411.0,2.0,NaN,1.0,NaN,131.0,6596.0,67.0,1258.0
putnam,35.0,72321,62315,51373,47690,35487,31882,26916,21417,17801,...,161.0,4101.0,30.0,261.0,NaN,NaN,742.0,32601.0,405.0,10410.0
rhea,68.0,31809,28400,24344,24235,17202,14365,12565,10361,9382,...,66.0,2482.0,16.0,249.0,NaN,NaN,295.0,14695.0,161.0,3673.0
roane,51.0,54181,51910,47227,48425,38881,25716,23369,20334,18732,...,101.0,1810.0,33.0,NaN,1.0,NaN,472.0,20314.0,211.0,4479.0
robertson,53.2,66283,54433,41492,37021,29102,26086,20995,15822,13308,...,295.0,7273.0,35.0,613.0,6.0,15.0,805.0,22988.0,384.0,8560.0
rutherford,17.0,262604,182023,118570,84058,59428,102968,70616,45755,30541,...,183.0,5668.0,39.0,NaN,1.0,NaN,965.0,46342.0,639.0,26067.0
scott,80.6,22228,21127,18358,19259,14762,9910,8909,7122,6608,...,24.0,549.0,4.0,12.0,NaN,NaN,202.0,14854.0,97.0,2470.0
sequatchie,73.8,14112,11370,8863,8605,6331,6368,4916,3570,3162,...,26.0,1066.0,3.0,3.0,NaN,NaN,129.0,8149.0,47.0,1306.0
sevier,56.6,89889,71170,51043,41418,28241,55918,37252,24166,17504,...,97.0,2302.0,20.0,368.0,4.0,6.0,489.0,16359.0,295.0,7309.0
shelby,2.8,927644,897472,826330,777113,722111,398274,362954,327796,286381,...,118.0,8981.0,27.0,608.0,NaN,NaN,212.0,10048.0,97.0,1876.0
smith,82.9,19166,17712,14143,14935,12509,8529,7665,6049,6051,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
stewart,100.0,13324,12370,9479,8665,7319,6778,5977,4384,3581,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
sullivan,25.6,156823,153048,143596,143968,127329,73760,69052,60623,54976,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
sumner,27.9,160645,130449,103281,85790,56266,65968,51657,39807,30153,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
tipton,55.1,61081,51271,37568,32930,28001,23199,19064,14071,11574,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
trousdale,100.0,7870,7259,5920,6137,5155,3368,3095,2537,2496,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
unicoi,44.7,18313,17667,16549,16362,15254,8830,8214,7076,6400,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
union,100.0,19109,17808,13694,11707,9072,8958,7916,5696,4642,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
van_buren,100.0,5548,5508,4846,4728,3758,2663,2453,2001,1753,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
warren,61.4,39839,38276,32992,32653,26972,17821,16689,13802,12968,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
washington,26.4,122979,107198,92315,88755,73924,57254,47779,38378,33673,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
wayne,100.0,17021,16842,13935,13946,12365,7287,6701,5741,5175,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
weakley,67.0,35021,34895,31972,32896,28827,15495,14928,12857,12463,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
white,78.2,25841,23102,20090,19567,16329,11511,10191,8369,7585,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
williamson,19.4,183182,126638,81021,58108,34423,68498,47005,29875,19719,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
wilson,38.5,113993,88808,67675,56064,36999,45568,34920,26198,20135,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [100]:
# This block fills the NaNs with a random value from the same column.

for c in np.arange(nonan_df.shape[1]):
    uniq_val = cleanan(list(nonan_df.iloc[:,c].unique()))
    for r in np.arange(nonan_df.shape[0]):
        if pd.isnull(nonan_df.iloc[r,c]) == True:
            nonan_df.iloc[r,c] = np.random.choice(uniq_val)
        else:
            pass

In [104]:
# Make sure no NaN value is left
nonan_df.isnull().sum()[nonan_df.isnull().sum() != 0]

Series([], dtype: int64)

In [106]:
nonan_df.to_csv('data/cleaned.csv')